<!DOCTYPE html>
    <head>
        <title>{{ title }}</title>
    </head>
    <body>
        <h3>ETCH-A-SKETCH</h3>
            <a href="/left" class="button">LEFT</a>
            <a href="/up" class="button">UP</a>
            <a href="/down" class="button">DOWN</a>
            <a href="/right" class="button">RIGHT</a>
            <a href="/clear" class="button">CLEAR</a>
            <a href="/toggle" class="button">TOGGLE</a>
            <a href="/red" class="button">TOGGLE_RED</a>
            <a href="/green" class="button">TOGGLE_GREEN</a>
    </body>
</html>
