# Stop dance for nginx
# =======================
#
# ExecStop sends SIGQUIT (graceful stop) to the nginx process.
# If, after 5s (--retry QUIT/5) nginx is still running, systemd takes control
# and sends SIGTERM (fast shutdown) to the main process.
# After another 5s (TimeoutStopSec=5), and if nginx is alive, systemd sends
# SIGKILL to all the remaining processes in the process group (KillMode=mixed).
#
# nginx signals reference doc:
# http://nginx.org/en/docs/control.html
#
[Unit]
Description=flask server

[Service]
WorkingDirectory=/home/debian/ECE434/hw07/flask
ExecStart=/home/debian/ECE434/hw07/flask/app1.py
SyslogIdentifier=flask

[Install]
WantedBy=multi-user.target
